NEXT_PUBLIC_APP_NAME=Ambe Pharma Intelligence
WEB_AUTH_USERNAME=pilot.operator
WEB_AUTH_PASSWORD=replace-with-local-development-password
WEB_AUTH_ROLE=operator
WEB_AUTH_SESSION_SECRET=replace-with-at-least-32-random-characters
WEB_AUTH_SESSION_TTL_SECONDS=28800
ACCOUNT_OPENING_EXPORT_DOWNLOAD_TOKEN=
